body {
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 35px;
  }
  
:root {
    --blur: 10px;
    --base: #ffc600;
    --spacing: 10px;
  }

  .img-outer-container{
      display: flex;
      justify-content: center;
      width: 100%;
    .img-inner__container{
        width: 490px;
        height: 350px;
        img {
            padding: var(--spacing);
            background: var(--base);
            filter: blur(var(--blur));
            width: 100%;
            height: 100%;
            }
        }
    }
  .controls {
    margin-bottom: 90px;
    input {
        width: 100px;
      }
  }
